<h1>Article Index</h1>

<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
    </thead>

    <tbody>
      <% @articles.each do |article|%>
        <tr>
            <td><%= article.title %></th>
            <td><%= article.description %></th>
            <td><%= link_to "Edit", edit_article_path(article) %></th>
            <td><%= link_to "Update", article_path(article) %></th>
            <td><%= link_to 'Delete', article_path(article), data: { turbo_method: :delete }  %></th>
        </tr> 
      <%end%>
    </tbody>
</table>