<h1>Showing article details</h1>

<h3>Article</h3>
<p><strong>Title: </strong></p>
<p><%= @article.title %></p>

<p><strong>Description: </strong></p>
<p><%= @article.description %></p>

<p>
    <%= link_to 'Edit', edit_article_path(@article)%> |
    <%= link_to 'Delete', article_path(@article), method: :delete, data: {confirm: "Do you really want to delete"} %>
    <%= link_to 'Return to article listing', articles_path()%>
</p>